<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Welcome to PollStar</h1>
    <div class="poll">
      <form class="poll input" method="POST" action="/summary">
        <label for="POST-poll_name">Create Poll Name:</label>
        <input type="text" id="poll_name">
        <div class="email pollname">
          <label for="email">Email: </label>
          <input type="email" id="email" name="email" placeholder="example@example.com">
        </div>
        <input type="submit" value="Create Poll">
      </form>
    </div>
  </body>
</html>
