<!-- summary ejs file -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Poll Created!</h1>
        <div>
            <p><a href="/">Make Another Poll Here!</a></p>
        </div>
    </body>
</html>